<div class="container-fluid">

      <h1>Gestión de {{selectedOption.option}}</h1>

      <div class="row">
        <div class="col-md-6 col-lg-6 col-xxxl-6">
          <nb-select placeholder="VIGENCIA" outline status="success">
            <nb-option value="1">2016</nb-option>
            <nb-option value="2">2017</nb-option>
            <nb-option value="3">2018</nb-option>
            <nb-option value="4">2019</nb-option>
          </nb-select>
        </div>
        <div class="col-md-6 col-lg-6 col-xxxl-6">
          <nb-select
            id="op_plan_cuentas"
            placeholder="Gestionar"
            outline
            status="success"
            [(ngModel)]="selectedOption"
          >
            <nb-option
              *ngFor="let optionPC of op_plan_cuentas"
              [value]="optionPC"
              (click)="onSelect(optionPC.option)"
              >{{ optionPC.option }}</nb-option
            >
          </nb-select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-12 col-xxxl-12">
            <nb-card>
                <nb-card-body>
                  <rubros *ngIf="selectedOption.option === 'Rubros'"> </rubros>
                  <apropiaciones *ngIf="selectedOption.option === 'Apropiaciones'"> </apropiaciones>

                </nb-card-body>
              </nb-card>
        </div>
      </div>
</div>
