<toaster-container [toasterconfig]="config"></toaster-container>
<div class="row">
  <div class="col-6">
    <ngx-dinamicform [normalform]="formMenuOpcion" [modeloData]="info_menu_opcion" (result)="validarForm($event)"
      (interlaced)="selectAplicacion($event)" [clean]="clean">
    </ngx-dinamicform>
  </div>
  <nb-card>
    <nb-card-header>
      {{ 'MENU.menu' | translate }}
    </nb-card-header>
    <nb-card-body>

      <tree-root #tree [nodes]="nodes" [options]="options" [focused]="true">
      </tree-root>
    </nb-card-body>
  </nb-card>
</div>
