<toaster-container [toasterconfig]="config"></toaster-container>
<div class="row">
  <div class="col-6">
    <ngx-dinamicform [normalform]="formMenuOpcion" [modeloData]="info_menu_opcion" (result)="validarForm($event)"
      (interlaced)="selectAplicacion($event)" [clean]="clean">
    </ngx-dinamicform>
  </div>
  <div class="col-6" *ngIf="app">
    <mat-card>
      <mat-card-title>
        {{ 'MENU.menu.menu' | translate }}
      </mat-card-title>
      <mat-card-content>
        <div>
          <tree-root #tree [nodes]="nodes" [options]="options" [focused]="true"></tree-root>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>