.main-container { 
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 85px;
    min-height: 70px;
    left: 0;
    margin: 1rem;
} 