<mat-card>
  <mat-card-title>
    {{ 'MENU.opciones' | translate }}
  </mat-card-title>
  <mat-card-content>
    <toaster-container [toasterconfig]="config"></toaster-container>
    <div *ngIf="!cambiotab">
      <ng2-smart-table [settings]="settings" [source]="source" (delete)="onDelete($event)"
        (rowSelect)="itemselec($event)" (edit)="onEdit($event)" (create)="onCreate($event)">
      </ng2-smart-table>
    </div>
    <div *ngIf="cambiotab">
      <ngx-crud-menu-opcion [menu_opcion_id]="uid" (eventChange)="onChange($event)">
      </ngx-crud-menu-opcion>
      <button (click)="activetab()" class="btn btn-info btn-sm"> <i class="nb-arrow-dropleft"></i>
        {{ 'GLOBAL.regresar' | translate }}</button>
    </div>
  </mat-card-content>
</mat-card>